html {
	box-sizing: border-box;
}
*, *:before, *:after {box-sizing: inherit;}
*:focus {outline: 0;}

::selection {
	// background: #505866;
	// color:$white;
	/* WebKit/Blink Browsers */
}
::-moz-selection {
	// background: #505866;
	// color:$white;
	/* Gecko Browsers */
}

html,body {
	height: 100%;
}

body {
	width:100%;
	margin:0 auto;
	padding: 0;

	vertical-align: baseline;

	border: 0;
	outline:0;

	font-family: 'Open Sans', sans-serif;
	font-size: 100%;

	text-rendering: optimizeLegibility !important;
}

ol,ul {
	list-style-position:inside;
}

// Crispy Text
h1, h2, h3, h4, h5, h6, p,label, a {
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1, h2, h3, h4, h5, h6, p {
	font-family:inherit;
	font-weight: normal;
}
h1, h2, h3, h4, p, li, span {
	-webkit-font-smoothing: antialiased !important;
}

a {
	color:inherit;

	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}
