// COlORS
$white: #fff;
$purple: #7F4CB2;
$tan : #FFC774;
$teal : #8DFFB3;
$red : #FA575C;
$yellow : #FFC90A;
// Spacing
$gutter: 60px;


// Font
$lora: 'Lora', serif;

// other
$box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
$border-radius:4px;
