.card {
  position:relative;

  display: block;
  .category {
    position: absolute;
    top:12px;
    right:12px;

    padding:10px 15px;

    text-align:center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color:$white;
    border-radius:4px;

    font-family: 'Helvetica', serif;
    font-weight: 700;

    -webkit-font-smoothing: antialiased !important;

    &.color-purple {
      background-color:$purple
    }
    &.color-teal {
      background-color:$teal
    }
    &.color-tan {
      background-color:$tan
    }
    &.color-red {
      background-color:$red;
    }
    &.color-yellow {
      background-color:$yellow;
    }
  }
}

.card-meta-inside {
  display:flex;
  align-items:flex-end;

  padding-bottom:30px;
  padding-left:30px;
  &:hover {
    .title:after {
      width:100%;
    }
  }
  & > .title {
    align-self:flex-end;

    color:$white;

    font-family:'Helvetica', serif;
    font-size:36px;
    font-weight:700;
    &:after {
      display: block;

      width:210px;
      height:8px;
      margin-top:15px;

      content:'';
      transition:width 0.3s ease;

      background-color:$white;
    }
  }
}

.card-meta-outside {
  overflow: hidden;

  border-radius: $border-radius;
  box-shadow: $box-shadow;
  &:hover {
    .copy:after {
      width:100%;
    }
    .image {
      img {
        transform: scale(1.1);
      }
    }
  }
  .image {
    display: block;
    img {
      transition: transform .3s ease;
    }
  }
  .copy {
    position:relative;

    padding:20px 15px 30px;

    color:#404040;
    background-color:$white;
    &:after {
      position:absolute;
      right:0;
      bottom:0;
      left:0;

      display: block;

      width:0;
      height:4px;

      content:'';
      transition: width .3s ease;

      opacity:.6;
      background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    h4 {
      margin-bottom:17px;

      font-size:28px;
      line-height:1.2;
    }
    p {
      margin-bottom:17px;
    }
    date {
      text-transform:uppercase;

      font-size:10px;
    }
  }
}
