.hero {
  height:75vh;
  width:100%;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  .overlay {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.4);
  }
  header {
    text-align:center;
    z-index:2;
    color:white;
  }

  h1 {
    font-size:146px;
    font-family: $lora;
  }
  p {
    font-size:22px;
    font-style: italic;
    font-weight: 300;
  }
}
// Blog Post hero
.blog-post {
  .hero {
    height:calc(100vh - 60px);
  }
  .hero-copy {
    width:75%;
    h1 {
      font-size:120px;
    }
  }

}
