.hero {
  height:75vh;
  width:100%;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.4);
  }
  header {
    text-align:center;
    z-index:2;
    color:white;
  }

  h1 {
    font-size:146px;
    font-family: 'Lora', serif;
  }
  p {
    font-size:22px;
    font-style: italic;
    font-weight: 300;
  }
}
