.home__top-grid {
  display:flex;
  height:45vw;
  margin-bottom:80px;
  padding:0 60px;
  .image-large {
    flex-basis:65%;
    height:100%;
    margin-right:10px;
  }
  .column {
    flex-basis:35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
    a {
      height:calc(50% - 5px);
      width:100%;
    }
  }
}

.home-about {
  padding:0 120px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .image {
    max-width:380px;
    width:100%;
  }
  .copy {
    text-align:center;
    padding:0 60px;
    h3 {
      font-size:28px;
      margin-bottom:20px;
    }
    p {
      margin-bottom:25px;
    }
  }
}

.home__row-2 {
  padding:0 60px;
  margin-bottom:80px;
  & > .card {
    width:calc(50% - 15px);
  }
}

.home__row-3 {
  padding:0 120px;
  position:relative;
  flex-wrap:wrap;
  & > .card {
    width:calc(33% - 15px);
    margin-bottom:30px;
  }
  .background-white {
    position:absolute;
    top:120px;
    left:0;
    right:0;
    width:70%;
    height:100%;
    background-color:$white;
    background:url('https://www.naturalretreats.com/themes/nretreats/images/funky.svg') center center repeat #fff;
  }
}

.home__content-grid {
  padding-bottom:54px;
  .button {
    margin: 28px auto 0;
    position:relative;
  }
}

.home__gradient {
   background:linear-gradient(to bottom, #fff,  #DBD4B4, #CC95C0);
   background:linear-gradient(to bottom, #fff, #DBE6F6);
}

.menu-wrapper {
  width:calc(100% - 120px);
  margin:0 auto 80px;
  height:640px;
  position:relative;

  .menu-item-image {
    position:relative;
    background:url('https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/20589387_720983371359667_451536010682040320_n.jpg') center center no-repeat;
    background-size:cover;
    height:100%;
    width:90%;
  }
  .image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
  }
  .menu-list {
    position: absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    background-color:#f7f7f7;
    padding:60px 40px;
    border-radius:$border-radius;
    box-shadow:$box-shadow;
    li {
      margin-bottom:20px;
      text-align:center;
    }
  }
}
